
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #5D544E;
$darkGray: #6D544E;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$meiryo: Helvetica, Arial, sans-serif;
$meiryo: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$meiryo: "メイリオ", Meiryo, Verdana, Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", sans-serif

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
